@tailwind preflight;

@tailwind components;

$--color-primary: #0065AD;
$--color-success: #16D39A;
$--color-warning: #FFA87D;
$--color-danger: #FF7588;
$--color-info: #2DCEE3;
@import '~element-ui/packages/theme-chalk/src/index';


html, body{ 
  @apply h-full; 
  background: #F0F4F7;
}

@import 'components/elements';
@import 'components/buttons';
@import 'components/transitions';

@tailwind utilities;