.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}

.slide-enter-active, .slide-leave-active {
    transition: transform .5s;
}
.slide-enter, .slide-leave-to{
    transform: translateX(24rem);
}